html {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Courier;
}



/* Navigation Bar */
#logo {
  float: left;
  margin: 5px;

}

ul {
  list-style-type: none;
  margin: -.5em;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;

}

li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 1;
  transition: 0.4s;
  font-family: Courier;
}

li a:hover {
  background-color: darkgray;
  color: white;
  border-radius: 5px;
  opacity: 1;
}



/* Display Area */
#display-area {
  color: white;
}



/*Credits */
.navPage {
  color: black;
  font-size: 30px;
  background-color: white;
  margin-top: 35%;
  margin: 50px;
  padding: 50px;
}
